{% load i18n %}

<form id="form" action="." method="POST">
    {% for field in form %}

        {% if field.errors %}
            <ol class="errorlist">
            {% for error in field.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
        <p {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {% ifequal field.name "onsite_required" %}
        {{ field }} <label class="inline">{{ field.label }}</label>
        {% else %}
            {{ field.label_tag }} {{ field }}
        {% endifequal %}
            <span>                
                {% ifequal field.help_text "job title" %}
                    {% trans '"Ruby on Rails Developer"' %}
                {% else %}
                    {% ifnotequal field.help_text "job location" %}
                    {{ field.help_text }}
                    {% endifnotequal %}
                {% endifequal %}

                {% ifequal field.help_text "job location" %}
                    {% trans '"San Fransisco, CA"' %}
                {% endifequal %}
            </span>
        </p>
    {% endfor %}

    <input type="submit" value="{% trans 'Preview' %}" />
    <input type="hidden" name="{{ stage_field }}" value="1" />
</form>