{% extends base_template %}

{% load i18n %}

{% block content %}
<div id="content">
    <div id="form-link-wrapper">
        <span id="form-link">
            <a href="{% url job-form %}">{% trans 'Post your Agile jobs for free here!' %}</a></span>
        <br/>
        {% trans 'Your job posting will be displayed for 30 days.' %}
    </div>
    <div style="clear:both"></div>    

    <div id="job-list">
    {% for job in job_list %}
        <div class="block {% cycle 'odd' 'even' %}">
            <strong>{{ job.location }}</strong>: <a href='{{ job.get_absolute_url }}'>{{ job.title }}</a>
            <span class="small">at</span>
            
            {% if job.website %} 
            <a href="{{ job.website }}">{{ job.company_name }}</a>
            {% else %}
            {{ job.company_name }}
            {% endif %}

            <span class="small"><em>posted</em> {{ job.posted|timesince }} <em>ago</em></span>
        </div>
    {% endfor %}
    </div>

    <div id="feeds-link-wrapper">
        <span id="feeds-link">
            <a href="{% url job-feeds 'jobs' %}" >
                {% trans 'Stay updated by subscribing to our job feeds' %}
            </a>
        </span>
    </div>
</div>
{% endblock %}