{% extends 'base.html' %}

{% block content %}
<div id="content">
    <div id="form-link">
        <a href="{% url job-form %}">Post your Agile jobs for free here!</a> &raquo;
        <br/>
        Your job posting will be displayed for 30 days.
    </div>
    <div style="clear:both"></div>
    


    <div id="job-list">
    {% for job in job_list %}
        <div class="block {% cycle 'odd' 'even' %}">
            <strong>{{ job.location }}</strong>: <a href='{{ job.get_absolute_url }}'>{{ job.title }}</a>
            <span class="small">at</span>
            
            {% if job.website %} 
            <a href="{{ job.website }}">{{ job.company_name }}</a>
            {% else %}
            {{ job.company_name }}
            {% endif %}

            <span class="small"><em>posted on</em> {{ job.posted|date:"d/m/Y H:s" }}</span>
        </div>
    {% endfor %}
    </div>

    <div id="feeds-link">
        <a href="{% url job-feeds 'jobs' %}">
            <img src="http://c0166731.cdn.cloudfiles.rackspacecloud.com/37.png"
                 height="20" alt="jobs feeds"/>
        </a>
        Get the latest job feeds
    </div>
    <div style="clear:both"></div>
</div>
{% endblock %}