{% extends 'base.html' %}

{% load markup %}
{% load i18n %}

{% block content %}
<div id="content">
    
    <h2 class="title">{{ form.title.data }} <span>{% trans 'at' %}</span> {{ form.company_name.data }}</h2>
    {% if form.website %}<div><strong>{% trans 'Website' %}:</strong> {{ form.website.data|urlize }}</div>{% endif %}
    <div><strong>{% trans 'Category' %}:</strong> {{ form.cleaned_data.category }}</div>
    <div><strong>{% trans 'Type' %}:</strong>
        {% ifequal form.cleaned_data.job_type 'P' %}{% trans 'Permanent' %}{% endifequal %}
        {% ifequal form.cleaned_data.job_type 'C' %}{% trans 'Contract' %}{% endifequal %}
        {% ifequal form.cleaned_data.job_type 'I' %}{% trans 'Internship' %}{% endifequal %}
    </div>

    <div><strong>{% trans 'Location' %}:</strong>
        {% if job.onsite_required %}
            {{ job.location }}
        {% else %}
            {% trans 'Telecommute' %}
        {% endif %}&nbsp;
    </div>

    <div class="desc">
    {% autoescape on %}{{ form.description.data|markdown }}{% endautoescape %}
    </div>

    <div><strong>{% trans 'To apply' %}:</strong> {{ form.to_apply.data|urlize }}</div>

    <form action="." method="post">
        {% for field in form %}
        {{ field.as_hidden }}
        {% endfor %}
        <input type="hidden" name="{{ stage_field }}" value="2" />
        <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
        <p><input type="submit" value="Submit" /></p>
    </form>

    <h2 class="title" style="margin-top:1em">{% trans 'Edit' %}</h2>
    {% include 'job_board/base_form.html' %}
    
</div>
{% endblock %}
