{% extends base_template %}

{% block content %}
<div id="content"> 
    <div style="margin-bottom:1em">&laquo; <a href="{% url job-list %}">Back</a></div>

    {% if notifications %}
    <ul id="notifications">
        {% for notification in notifications %}<li class="{{ notification.type }}">{{ notification.content }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h2 class="title">{{ job.title }} <span>at</span> {{ job.company_name }}</h2>
    {% if job.website %}<div><strong>Website:</strong> {{ job.website|urlize }}</div>{% endif %}
    <div><strong>Type:</strong> {{ job.get_job_type_display }}</div>

    {% if job.onsite_required %}<div><strong>Required onsite</strong></div>{% endif %}

    <div class="desc">
    {{ job.description }}
    </div>

    <div><strong>Skills required:</strong> {{ job.skills_required }}</div>
    <div><strong>To apply:</strong> {{ job.to_apply|urlize }}</div>

    <div style="margin-top:1em">&laquo; <a href="{% url job-list %}">Back</a></div>
</div>
{% endblock %}